[submodule "Data_Mining"]
	path = Data_Mining
	url = https://github.com/Daniel8675/Data_Mining.git

[submodule "NNADL"]
	path = NNADL
	url = https://github.com/Daniel8675/Neural_Networks_And_Deep_Learning.git
	branch = main
