[submodule "Data_Mining"]
	path = Data_Mining
	url = https://github.com/Daniel8675/Data_Mining.git
[submodule "Neural_Networks_And_Deep_Learning"]
	path = Neural_Networks_And_Deep_Learning
	url = https://github.com/Daniel8675/Neural_Networks_And_Deep_Learning.git
	branch = main
[submodule "submodules/Neural_Networks_And_Deep_Learning"]
	branch = main
[submodule "Organization_Of_Database_Management_Systems"]
	path = Organization_Of_Database_Management_Systems
	url = https://github.com/Daniel8675/Organization_Of_Database_Management_Systems.git
[submodule "Multivariate_Statistics"]
	path = Multivariate_Statistics
	url = https://github.com/Daniel8675/Multivariate_Statistics.git
